@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Open Sans', sans-serif;
    background: url("../img/para.jpg") no-repeat 45% center fixed;
    background-size: cover;
}

.login__container {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 16px;
}

.login {
    max-width: 349px;
    display: flex;
    flex-direction: column;
    padding: 36px;
    border-radius: 6px;
    background: rgba(255,255,255,0.3);
    backdrop-filter: blur(10px);
}

.form h2 {
    text-transform: uppercase;
    margin-bottom: 2rem;
}

.form .input-group {
    position: relative;

}
.form .input-group input {
    width: 100%;
    font-size: 1rem;
    border-radius: 5px;
    margin-top: 10px;

}
.form .input-group label {
    position: absolute;
    margin-top: 10px;
    top: 0;
    left: 0;
    font-size: 1rem;
    pointer-events: none;
}
.submit-btn {
    display: block;
    margin-left: auto;
    border: none;
    outline: none;
    background: #262626;
    font-size: 1rem;
    color: white;
    text-transform: uppercase;
    letter-spacing: 1px;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
}


@media (min-width: 768px) {
    body {
    }
}
