@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Open Sans', sans-serif;
    background: url("../img/para.jpg") no-repeat 45% 60% fixed;
    background-size: cover;
    font-size: 16px;
}

.login__container {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 16px;
}

.login {
    max-width: 349px;
    display: flex;
    flex-direction: column;
    padding: 36px;
    border-radius: 6px;
    background: rgba(255, 255, 255, 0.3);
    backdrop-filter: blur(10px);
}

.login__title {
    text-transform: uppercase;
    margin-bottom: 2rem;
}

.login__description {
    margin-bottom: 1rem;
}

.login__input-group {

}

.login__input {
    background: rgba(255, 255, 255, .55);
    padding: .5rem 1rem;
    border-radius: 6px;
    font-size: .875rem;
    width: 100%;
    margin-bottom: 1rem;
    border: 1px solid rgba(112, 112, 112, .70);
}

.login__footer {
    display: flex;
    justify-content: space-between;
}

.login__forgot-pw {
    font-size: .75rem;
    color: #333333;
    margin-left: 1rem;
}

.login__submit-btn {
    border: none;
    outline: none;
    background: #262626;
    font-size: 1rem;
    color: white;
    text-transform: uppercase;
    padding: 8px 28px;
    border-radius: 6px;
    cursor: pointer;
}

@media (min-width: 768px) {
    body {
        background-position-x: 75%;
    }

    .login {
        transform: translateX(160px);
    }
}

@media (min-width: 1024px) {
    body {
        background-position-x: 100%;
    }
}

@media (min-width: 1200px) {
    .login {
        transform: translateX(260px);
    }
}
